In [307]:
import pandas as pd
import numpy
import glob

In [303]:
file_path =r'/Users/michaelzeng/Library/Mobile Documents/com~apple~CloudDocs/python projects'

In [325]:
all_csv_Files = glob.glob(file_path + "/*.csv")
all_excel_Files = glob.glob(file_path + "/*.xlsx")
print(allFiles)
print(all_excel_Files)

['/Users/michaelzeng/Library/Mobile Documents/com~apple~CloudDocs/python projects/HS.csv', '/Users/michaelzeng/Library/Mobile Documents/com~apple~CloudDocs/python projects/HS2.csv']
['/Users/michaelzeng/Library/Mobile Documents/com~apple~CloudDocs/python projects/HS2.xlsx']

In [357]:
for file in all_csv_Files:
    df = pd.read_csv(file,encoding='latin1')
    print(df.head())
    print('\n')

  Geographic Area           City percent_completed_hs
0              AL  Anniston city                 79.8
1              AL      Arab city                 87.6
2              AL   Ardmore town                 77.7
3              AL      Argo town                 87.5
4              AL    Ariton town                 71.3


  Geographic Area           City percent_completed_hs
0              AL  Anniston city                 79.8
1              AL      Arab city                 87.6
2              AL   Ardmore town                 77.7
3              AL      Argo town                 87.5
4              AL    Ariton town                 71.3

In [358]:
for file in all_excel_Files:
    df = pd.read_excel(file,encoding='latin1')
    print(df.head())
    print('\n')

   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3       Unnamed: 4  \
0         NaN         NaN         NaN         NaN              NaN
1         NaN         NaN         NaN         NaN              NaN
2         NaN         NaN         NaN         NaN              NaN
3         NaN         NaN         NaN         NaN  Geographic Area
4         NaN         NaN         NaN         NaN               AL

      Unnamed: 5            Unnamed: 6
0            NaN                   NaN
1            NaN                   NaN
2            NaN                   NaN
3           City  percent_completed_hs
4  Anniston city                  79.8

# runing a single file to check the accuracy

In [362]:
# for single file
df = pd.read_excel('HS2.xlsx', sheet_name='HS', path=file_path)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Geographic Area,City,percent_completed_hs
4,NaN,NaN,NaN,NaN,AL,Anniston city,79.8

In [363]:
#drop the columns and rows that contain all null values
df.dropna(how='all',axis=1, inplace=True)
df.dropna(how='all',axis=0, inplace=True)
df.head()

        Unnamed: 4     Unnamed: 5            Unnamed: 6
3  Geographic Area           City  percent_completed_hs
4               AL  Anniston city                  79.8
5               AL      Arab city                  87.6
6               AL   Ardmore town                  77.7
7               AL      Argo town                  87.5

In [364]:
# set the first row as the column names
# using .values to prevent extracting the index 3
header= df.iloc[0].values 

# remove the first row since it will be used as the column names
df = df[1:]

# set the new column names
df.columns = header

# reset the idex and drop the original one.
df=df.reset_index(drop=True)
df.head()

  Geographic Area           City percent_completed_hs
0              AL  Anniston city                 79.8
1              AL      Arab city                 87.6
2              AL   Ardmore town                 77.7
3              AL      Argo town                 87.5
4              AL    Ariton town                 71.3

# Reading only a sinfle file each time is not efficient. The below method will read all the excel and csv files in the folder and clean them base on the issues they contain. The problem will be how messy the data in the files will be.

In [365]:
# iterate through each file
for file in all_csv_Files:
    df = pd.read_csv(file,encoding='latin1')
    print(df.head())
    print('\n')
    # drop columns and rows that contain only null values
    df = df.dropna(how='all', axis=1)
    df = df.dropna(how='all', axis=0)
    print(df.head())
    print('\n')
# the data in the csv files are not messy at all

  Geographic Area           City percent_completed_hs
0              AL  Anniston city                 79.8
1              AL      Arab city                 87.6
2              AL   Ardmore town                 77.7
3              AL      Argo town                 87.5
4              AL    Ariton town                 71.3


  Geographic Area           City percent_completed_hs
0              AL  Anniston city                 79.8
1              AL      Arab city                 87.6
2              AL   Ardmore town                 77.7
3              AL      Argo town                 87.5
4              AL    Ariton town                 71.3


  Geographic Area           City percent_completed_hs
0              AL  Anniston city                 79.8
1              AL      Arab city                 87.6
2              AL   Ardmore town                 77.7
3              AL      Argo town                 87.5
4              AL    Ariton town                 71.3


  Geographic Area           City percent_completed_hs
0              AL  Anniston city                 79.8
1              AL      Arab city                 87.6
2              AL   Ardmore town                 77.7
3              AL      Argo town                 87.5
4              AL    Ariton town                 71.3

In [366]:
for file in all_excel_Files:
    df = pd.read_excel(file,encoding='latin1')
    print(df.head())
    print('\n')

    # drop columns and rows that contain only null values
    df = df.dropna(how='all', axis=1)
    df = df.dropna(how='all', axis=0)
    print(df.head())
    print('\n')
    
    # the first row contains the name of each column
    header= df.iloc[0].values 
    
    # Since the first row will be used as the column name, so remove them.
    df = df[1:]
    
    # set the new column name
    df.columns = header
    
    # reset the index
    df = df.reset_index(drop=True)
    print(df.head())
    print('\n')

   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3       Unnamed: 4  \
0         NaN         NaN         NaN         NaN              NaN
1         NaN         NaN         NaN         NaN              NaN
2         NaN         NaN         NaN         NaN              NaN
3         NaN         NaN         NaN         NaN  Geographic Area
4         NaN         NaN         NaN         NaN               AL

      Unnamed: 5            Unnamed: 6
0            NaN                   NaN
1            NaN                   NaN
2            NaN                   NaN
3           City  percent_completed_hs
4  Anniston city                  79.8


        Unnamed: 4     Unnamed: 5            Unnamed: 6
3  Geographic Area           City  percent_completed_hs
4               AL  Anniston city                  79.8
5               AL      Arab city                  87.6
6               AL   Ardmore town                  77.7
7               AL      Argo town                  87.5


  Geographic Area           City percent_completed_hs
0              AL  Anniston city                 79.8
1              AL      Arab city                 87.6
2              AL   Ardmore town                 77.7
3              AL      Argo town                 87.5
4              AL    Ariton town                 71.3

# Fantastic. Now let's load the data into MySQL database

In [ ]:
will do it tomorrow